@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
} */

a {
    text-decoration: none;
    color: #ed692a;
}

body {
    background: rgba(205, 214, 219, 0.3);
    font-family: "Audiowide", sans-serif;
}

.container{
    /* background-image: url(./img/XXL_height.webp); */
    /* filter: blur(10px); */

    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: white;
    height: 80px;

}

.header__Box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.headBut{
        background: #ed692a;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        min-width: 175px;
        height: 50px;
        color: #fff;
        font: 700 14px "Montserrat", "Roboto", sans-serif;
        text-align: center;
        border-radius: 100px;
        border: 0px;
}

.tel {
    color: black;
    font-weight: bold;
}
/* /////////////////////////////////////////////////////////////////// */
.schedule-box {
    display: grid;
    grid-template-columns: repeat(1, 1135px);
    gap: 10px;
}

.title {
    font-size: 35px;
    color: #ed692a;
    text-align: center;
    opacity: 3;
    margin-top: 20px;
    margin-bottom: 40px;
}

.schedule_item-box {
    border: 2px solid #ed692a;
    padding: 10px;
    border-radius: 20px;
    background: rgba(98, 181, 206, 0.219);

}

p {
    margin-bottom: 10px;
}

.schedule_item-title, .schedule_item-time {
    font-size: 20px;
    color: #202439;
    font-weight: bold;
}

.schedule_item-maxnumber, .schedule_item-currentnumber {
    font-size: 14px;
    color: #ed692a;
}   

span {
    font-size: 20px;
    font-weight: bold;
}

.button-box {
    display: flex;
    flex-direction: column;
}

.button-submit, .button-reject {
    padding: 10px;
    background-color: #ed692a;
    border-radius: 100px;
    color: rgb(240, 248, 255);
    cursor: pointer;
}

.button-submit:hover {
    color: #202439;
    background: rgb(7, 230, 7);
    border: 0.5px solid #ed692a;
    transition: all 0.8s ease-out;
}

.button-reject:hover {
    color: #2B415E;
    background: rgb(248, 2, 2);
    border: 0.5px solid #ed692a;
    transition: all 0.8s ease-out;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}