body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headOne {
  color: green;
}

.headTwo {
  color: blue;
}

.textOne {
  border: 1px solid black;
  box-sizing: border-box;
  width: 30vh;
  background-color: rgba(172, 172, 171, 0.521);

}

.textTwo {
  border: 1px solid black;
  box-sizing: border-box;
  width: 45vh;
  background-color: rgba(172, 172, 171, 0.521);
}