a {
  text-decoration: none;
}


body {
  background-color: bisque;
  /* font-family: sans-serif; */
}

.link {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.tit {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.txt {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.sub {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.picture {
  border-radius: 20px 50px 20px 80px;
  width: 250px;
  height: 200px;
}

.form {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  line-height: 30px;
}

.click {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
