@font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    scroll-behavior: smooth;
    background: #FAFAFA;
    font-family: "Gilroy";
}
main {
    max-width: 1174px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1174px;
    margin: 0 auto;
}
.header nav {
    max-width: 1174px;
    padding: 40px 0 84px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation img {
    margin-right: 460px;
}
.navigation a {
    font-family: Gilroy-Bold;
    font-size: 14px;
    padding: 10px 10px;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    gap: auto;
}
.mainContent h1 {
margin-bottom: 20px;
font-family: Gilroy-Bolt;
font-size: 60px;
line-height: 120%;
}
.mainContent p {
    margin-bottom: 32px;
    font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: 140%;
    color: #888888;
}
.mainContent img {
    width: 545px;
    height: 375px;
}
.butLeft {
    width: 140px;
    height: 51px;
    padding: 16px 10px;
    font-family: Gilroy-Bolt;
    font-size: 16px;
    border-radius: 56px;
    border-style: none;
    color: #FFFFFF;
    background-color: #F25822;
    cursor: pointer;
}
.button {
    display: flex;
    justify-content: flex-start;
    gap: 48px;
}
.butRight {
    padding: 16px 10px;
    font-family: Gilroy-Bolt;
    font-size: 16px;
    color: #AAAAAA;
    background: none;
    border: none;
    cursor: pointer;
}
.logo a {
    width: 160px;
    height: 50px;
}
.main nav {
    max-width: 1174px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.cardListOne {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 61px;
    align-items: center;
}
.box {
    max-width: 310px;
    max-height: 230px;
}

.box p {
    margin-top: 18px;
    margin-bottom: 25px;
}
.box h2 {
    margin-top: 25px;
}
.bigBox{
    padding: 40px 34px;
    max-width: 378px;
    max-height: 310px;
    box-shadow: 10px 10px 60px -50px rgba(0, 0, 0, 0.5);
}
.bigBox p {
    margin-top: 25px;
    margin-bottom: 18px;
}
.bigBox h2 {
    margin-top: 25px;
}
.CLP{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 48px;
}
.CLP h1 {
    padding: 0 256px;
    font-family: Gilroy-Bold;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 24px;
    color: #000000
    ;
}
.CLP h2 {
    padding: 0 217px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 140%;
    color: #888888;
}

.cardListTwo {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.buttonCLT {
    max-width: 166px;
    max-height: 51px;
    margin-top: 24px;
    padding: 16px 32px;
    font-family: Gilroy-Bolt;
    font-size: 16px;
    border-radius: 56px;
    border-style: none;
    color: #FFFFFF;
    background-color: #F25822;
    cursor: pointer;
}

.item {
    background: #FFFFFF;
    /* padding: 0px 34px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.item h2 {
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 32px;
    margin-bottom: 16px;
}
.item p {
    padding-left: 34px;
    padding-right: 34px;
}

.buttonCLT {
    display: flex;
    align-items: center;
    gap: 4px;
}

.shadowBord {
    box-shadow: 10px 10px 60px -50px rgba(0, 0, 0, 0.5);
}