@import 'vars';
@import 'mixins';


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
    gap: $gapGrid;
    padding-top: 39px;
    box-sizing: border-box;

}

.filter {
    padding-top: 13px;
    // padding: 13px 16px 16px;
    width: 360px;
    // position: absolute;
    // top: 39px;
    box-sizing: border-box;
    cursor: pointer;

    &__content {
        background-color: #FFF;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px #000000;
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        

    }

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        
    }

    &__item {
        // margin-top: 16px;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
        
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;


    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.sort {
    // display: flex;
    // position: absolute;
    // left: 570px;
    // top: 51px;
    padding-top: 12px;
    display: flex;
    gap: 18px;


    &__details{
        position: relative;
    }
    &__sum {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__hea {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &__check{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &__sort-box{
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }

    &__check{
        display: flex;
        gap: 9px;
        align-items: center;
    }
}


.product-box {
    display: flex;
    gap: $gapGrid // @include centerFlex();
}

.product {
    width: 360px;
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
    }

    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $colorText_P;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heder__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.top-head {
    background: #F1E4E6;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-head__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite ;
}

.breadCrumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadCrumbs__link-site {
    font-weight: 700;
    color: $colorSelectSite;
}