
.light {
    text-align: center;
    padding: 100px 50px;
    background-color: #fff;
    color: #000;
}

.dark {
    text-align: center;
    padding: 100px 50px;
    background-color: #000;
    color: #fff;
}