$iconActive_one: rgba(241, 109, 127, 1);
$iconActive_two: rgba(255, 255, 255, 1);
$widthSite: 1140px;
$selectColorSite: #F16D7F;
$selectColorText: #5E5E5E;

$gapGrid: 30px;
// $thirdSite: ($widthSite - $gapGrid) / 3;
$colorText_P:#5D5D5D;
$colorText_B: #EAEAEA;
$colorText: #000000;
$colorLink: #EBEBEB;