@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import 'vars';
@import 'registration';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

html {
    // margin-left: auto;
    // margin-right: auto;
}

body {
    scroll-behavior: smooth;
    // background: #ffffff;
}

img {
    display: block;
    max-width: 100%;
}

ul, li {
    list-style: none;
}

.container {
    // margin: 0 auto;
    // width: 100%;
    // max-width: 1140px;
    // padding: 0 15px;
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.style_1 {
    font-size: 48px;
    font-weight: 900
}

.style_2 {
    font-size: 32px;
    font-weight: 700;
}

.style_3 {
    color: $selectColorSite;
}

.style_4 {
    font-size: 24px;
    color: $selectColorSite;
}

.header {
    width: 100%;
    background-color: $colorTextHED;
    // overflow: hidden;
    // min-height: 100vh;

    &__hed {
        height: 75px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #FFFFFF;
        width: 100%;
        max-width: 232px;
        padding: 32px 0 32px 32px;
        box-sizing: border-box;
        position: absolute;
        top: 75px;
        right: 0;
        transition: right .3s;
        z-index: 20;
        box-shadow: 6px 4px 35px 0px #00000036;
    }

    &__nav-link {
        margin-bottom: 11px;
        padding-left: 21px;
    }

    &__nav-link:hover{
        color: $selectColorSite;
    }

    &__nav h5{
        margin-top: 20px;
        margin-bottom: 12px;
    }

    #burger {
        position: absolute;
        left: -9999999;
        visibility: hidden;
    }

    #burger:checked ~ &__nav {
        display: none;
        // right: -5000px;
    }

    &__basketNum {
        position: relative;
    }

    &__basketNum span {
        position: absolute;
        font-size: 12px;
        width: 15px;
        height: 15px;
        background-color: $selectColorSite;
        border-radius: 50%;
        color: #FFFFFF;
        // display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        top: -4px;
        right: -5px;
    }
}

.commercial {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;

    &__shadow h2 {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }

    &__picture_1 {
        display: block;
        width: 360px;
        height: 260px;
        background-size: cover;
        background-image: url(./img/imgMain/img_1.svg)
    }

    &__picture_2 {
        display: block;
        width: 360px;
        height: 260px;
        background-size: cover;
        background-image: url(./img/imgMain/img_2.svg)
    }

    &__picture_3 {
        display: block;
        width: 360px;
        height: 260px;
        background-size: cover;
        background-image: url(./img/imgMain/img_3.svg)
    }

    &__picture_4 {
        display: block;
        width: 1140px;
        height: 180px;
        background-size: cover;
        background-image: url(./img/imgMain/img_4.svg)
    }

    &__shadow {
        width: 100%;
        height: 100%;
        background-color: rgba(33, 22, 22, 0.70);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.middleBox {

    &__catalog-title {
        text-align: center;
        margin-bottom: 48px;
    }

    &__catalog-title h2 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 6px;
    }

    &__catalog-title h2 {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 6px;
    }

    &__catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        border: 1px, rgba(255, 106, 106, 1);
    }

    &__catalog-product_item {
        /* padding-bottom: 16px; */
        width: 360px;
        text-align: start;
        margin: 0 auto;
        background-color: rgba(248, 248, 248, 1);
        /* background: rgba(248, 248, 248, 1); */
    }

    &__catalog-product_text {
        background-color: rgba(248, 248, 248, 1);
        padding-bottom: 20px;
    }

    &__catalog-product_text h2 {
        margin: 24px 0 12px 18px;
        font-size: 13px;
        font-weight: 400;

    }

    &__catalog-product_text p {
        margin: 0 0 18px 16px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(93, 93, 93, 1);
    }

    &__catalog-product_text span {
        margin-left: 18px;
        font-size: 16px;
        font-weight: 400;
    }

    &__catalog-button {
        display: flex;
        justify-content: center;
    }

    &__catalog-butDown {
        font-size: 16px;
        font-weight: 400;
        margin: 48px 0 60px 0;
        max-width: 212px;
        max-height: 48px;
        border: 1px solid, rgba(255, 106, 106, 1);
        padding: 15px 39px 14px 39px;
        color: rgba(242, 99, 118, 1);
        text-align: center;
        cursor: pointer;
    }

    &__catalog-butDown:hover {
        background-color: rgba(241, 109, 127, 1);
    }

    &__catalog-butDown:hover .style_3 {
        background-color: rgba(241, 109, 127, 1);
        color: #ffffff;
    }

    &__catalog_addToCard {
        width: 360px;
        /* height: 420px; */
        /* background: rgba(58, 56, 56, 0.86); */
        /* font-size: 14px; */
        /* font-weight: 400; */
        /* text-align: center; */
    }

    &__catalog-shadow {
        position: relative;
        overflow: hidden;
    }

    &__catalog_addToCard svg {
        display: block;
        width: 100%;
    }

    &__catalog-click {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transition: .3s ease-in-out;
    }

    &__catalog-shadow:hover &__catalog-click {
        opacity: 1;
    }

    &__catalog-click:hover &__click {
        transform: translate(-50%, -50%) scale(1);
    }

    &__click {
        display: flex;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        width: 139px;
        height: 44px;
        line-height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid rgba(255, 255, 255, 1);
        transform: translate(-50%, -50%) scale(0);
        transition: .3s ease-in-out;
    }

    &__click:before {
        /* content: url(./img/Cart.svg); */
        margin-right: 10px;
    }

    &__img_click {
        padding-top: 10px;
        padding-left: 13px;
    }
}

.blackBox {
    background-color: rgba(34, 34, 36, 1);

    &__box {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__card {
        width: 360px;
        height: 134px;
        margin-top: 103px;
        margin-bottom: 103px;
        text-align: center;
    }

    &__text h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(251, 251, 251, 1);
        margin-top: 28px;
        margin-bottom: 24px;
    }

    &__text p {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: rgb(119, 118, 118);
    }
}

.subscribe {

    &__img {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(./img/fon_1.svg);
        height: 448px;
    }

    &__shadow {
        background-color: rgba(244, 244, 244, 0.7);
        background-size: cover;
        height: 448px;
        display: flex;
        align-items: center;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 450px;
    }

    &__left-side {
        width: 360px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    &__left-side p {
        text-align: center;
    }

    &__right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    &__right-side .style_4 {
        font-size: 24px;
        font-weight: 700;
        color: rgba(34, 34, 36, 1);
    }

    &__right-side h2 {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    &__form {
        display: flex;
    }

    &__input {
        max-width: 256px;
        max-height: 36px;
        background-color: rgba(225, 225, 225, 1);
        border: 1px solid rgba(225, 225, 225, 1);
        border-radius: 15px 0 0 15px;
    }

    &__button {
        width: 85px;
        height: 36px;
        background-color: rgba(224, 92, 110, 1);
        color: rgba(255, 255, 255, 1);
        border: 2px solid;
        border-radius: 0 15px 15px 0;
        border-color: rgba(224, 92, 110, 1);
        font-size: 14px;
        cursor: pointer;
    }
}

.footer {
    // width: 100%;
    background-color: rgba(34, 34, 36, 1);


    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 79px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
    }

    &__box-leftSide {
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    &__box-rightSide {
        gap: 8px;
    }

    .facebook:hover .one {
        fill: $iconActive_one;
    }

    .facebook:hover .two {
        fill: $iconActive_two;
    }

    .instagram:hover .one {
        fill: $iconActive_one;
    }

    .instagram:hover .two {
        fill: $iconActive_two;
    }

    .pinteres:hover .one {
        fill: $iconActive_one;
    }

    .pinteres:hover .two {
        fill: $iconActive_two;
    }

    .twitter:hover .one {
        fill: $iconActive_one;
    }

    .twitter:hover .two {
        fill: $iconActive_two;
    }
}

// STYLES --> PRODUCT.index !!!
.downHeader {
    &__box {
        background-color: #f1e4e6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__leftSide {
        width: 700px;
        height: 764px;
        background-image: url(./img/logoMan.svg);
        background-repeat: no-repeat;
        background-size: auto;
    }

    &__rightSide {
        display: flex;
        align-items: center;
        width: 700px;
        height: 764px;
    }

    &__brand {
        max-width: 405px;
        max-height: 93px;
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
    }
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 128px;

    &__box {
        width: 360px;
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 100%;
    }

    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $colorText_P;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $selectColorSite;
    }
}

.top-head {
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $selectColorSite;
    }

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &__linkSite {
        font-weight: 700;
        color: $selectColorSite;
    }
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 777px;
    background: #F7F7F7;

    &__link:hover .one {
        fill: $selectColorSite;
    }
}


.blockCenter {
    position: relative;
    top: -65px;


    &__box {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 601px;
        border: 1px solid #EAEAEA;
        margin-bottom: 80px;
        padding: 64px 0;
    }

    &__title-one {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $selectColorSite;
    }

    &__title-two {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    &__text {
        text-align: center;
        width: 567px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $selectColorText;
        ;
    }

    &__price {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $selectColorSite;
    }

    &__border-one {
        margin-top: -50px;
        margin-bottom: -50px;
        width: 63px;
        border-top: 3px solid $selectColorSite;
    }

    &__border-two {
        width: 641px;
        border-top: 1px solid $colorText_B;
    }

    &__position-button {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        gap: 23px;
    }

    &__button {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        gap: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    &__Cart {
        display: flex;
        align-items: center;
        gap: 23px;
        padding: 14px 57px 16px 24px;
        background: none;
        border: 1px solid $selectColorSite;
        color: $selectColorSite;
        cursor: pointer;
    }

}

// STYLES --> CATALOG.index !!!
summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
    gap: $gapGrid;
    padding-top: 39px;
    box-sizing: border-box;

}

.filter {
    padding-top: 13px;
    // padding: 13px 16px 16px;
    width: 360px;
    // height: 571px;
    top: 39px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 10;

    &__content {
        background-color: #FFF;
        padding-top: 160;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        // position: absolute;
    }

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px #A1A1A1;
    }

    &[open] .filter__heading {
        color: $selectColorSite;
    }

    &[open] path {
        fill: $selectColorSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;


    }

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
    }

    &__item {
        margin-top: 16px;
    }

    &__item[open] .filter__head {
        color: $selectColorSite;
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $selectColorSite;


    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $selectColorSite;
        }
    }
}

.sort {
    // display: flex;
    // position: absolute;
    // left: 570px;
    // top: 51px;
    padding-top: 12px;
    display: flex;
    gap: 18px;
    z-index: 10;


    &__details {
        position: relative;
    }

    &__sum {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__hea {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &__check {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &__sort-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px #A1A1A1;
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
    }
}

.navBar {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 96px;


    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid $colorLink;
        border-radius: 5px;
        width: 100%;
        max-width: 284px;
        padding-top: 12px;
    }

    &__link {
        font-size: 16px;
        font-weight: 300;
        line-height: 19.2px;
        color: $colorLink;
        cursor: pointer;
    }

    &__color {
        color: $selectColorSite;
    }
}

// STYLES --> CART.index !!!
.cart {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: 332px 332px 332px;
    margin-top: 95px;
    // margin-bottom: 250px;


    &__item1 {
        box-sizing: border-box;
        margin-bottom: 40px;
        box-shadow: 15px 15px 50px $colorText_B;

        display: flex;
        width: 652px;
        height: 306px;
    }

    &__item3 {
        box-sizing: border-box;
        margin-bottom: 40px;
        box-shadow: 15px 15px 50px $colorText_B;

        display: flex;
        width: 652px;
        height: 306px;
    }

    &__color {
        color: $selectColorSite;
    }

    &__item-right {
        position: relative;
        width: 390px;
        height: 306px;
        padding: 22px 97px 62px 31px;
        box-sizing: border-box;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    &__head {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        margin-bottom: 42px;
    }

    &__text {
        font-size: 22px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: left;
        margin-bottom: 6px;
    }

    &__piece {
        border: 1px solid $colorText_B
    }

    &__butt {
        display: flex;
        align-content: center;
        justify-content: space-between;
        width: 652px;
        margin-top: 72px;
        margin-bottom: 128px;
    }

    &__butCart {
        padding: 17px 40px;
        border: 1px solid $colorText_B;
        background: none;
    }


}

.formBox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 204px;
    align-content: stretch;
    flex-direction: column;
    // justify-content: flex-end;
    cursor: pointer;

    &__input {
        width: 360px;
        height: 45px;
        margin-top: 30px;
        // margin-bottom: 15px;
    }

    &__boxForm {}

    &__title {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }

    &__butTit {
        width: 102px;
        height: 35px;
        font-size: 11px;
        font-weight: 400;
        line-height: 13.2px;
        text-align: left;
        border: 1px solid $colorText_B;
        background: none;
        margin-top: 15px;
        margin-bottom: 0;
        text-align: center;
        cursor: pointer;
    }
}

.CASH {
    display: flex;
    justify-content: end;
    // padding-top: 20px;
}

.cash {
    padding-top: 40px;
    padding-right: 40px;
    width: 360px;
    height: 214px;
    background-color: #F5F3F3;

    &__sub-total {
        font-size: 11px;
        font-weight: 400;
        line-height: 13.2px;
        text-align: right;
        margin-bottom: 12px;
    }

    &__grand-total {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-align: right;
        margin-bottom: 21px;
    }

    &__bord {
        width: 273px;
        border-bottom: 1px solid $colorText_B;
        margin-bottom: 17px;
    }

    &__checkout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 273px;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        background: $selectColorSite;
        color: #FFFFFF;
        cursor: pointer;

    }

    &__color {
        color: $selectColorSite;
    }

    &__CHECKOUT {
        display: flex;
        justify-content: center;
    }

}

// Adaptive look down !!!


/*~~~~~~~~~~~~~~~~~~~~~~ TABLET ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// @media (min-width: 768px) and (max-width: 1139px) {
// }

/*~~~~~~~~~~~~~~~~~~~~~~ PHONE ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// @media (min-width: 374px) and (max-width: 767px) {
// }